:root {
  --color-rojo: #d60000;
  --color-blanco: #ffffff;
}

body {
  background-color: var(--color-blanco);
  color: #222;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: var(--color-rojo) !important;
}

.navbar a, .navbar-brand {
  color: var(--color-blanco) !important;
}
